PORT=5000
MONGODB_URI=
JWT_SECRET=

NODE_ENV=development
CORS_ORIGINS=http://localhost:5173,https://wins-wereld-winkel.netlify.app
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
